@model MyMDB.Models.CastCrewMember

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CastCrewMember</h4>
    <hr />
    @Html.EditorForModel()
    <hr />
    <h4>Roles</h4>
   
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
