@{ 
    ViewData["Title"] = "Admin Home";
}

<div class="containter">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-sm-12">

            <!--System-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        System
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="System" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--AwardRecipients-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Award Recipients
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="AwardRecipients" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--CastCrewMembers-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Cast/Crew Members
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="CastCrewMembers" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--Characters-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Characters
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="Characters" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--Episodes-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Episodes
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="Episodes" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--Facts-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Facts
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="Facts" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--Movies-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Movies
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="Movies" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--MovieSeries-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Movie Series
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="MovieSeries" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--MovieStudios-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Movie Studios
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="MovieStudios" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--ProductionCompanies-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Production Companies
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="ProductionCompanies" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--ProductionRoles-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Production Roles
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="ProductionRoles" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--Quotes-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Quotes
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="Quotes" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--TVNetworks-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        TV Networks
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="TVNetworks" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--TVShows-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        TV Shows
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="TVShows" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>