@{ 
    ViewData["Title"] = "Admin Home";
}

<div class="containter">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-sm-12">

            <!--Awards-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Awards
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="Awards" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--AwardCategories-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Award Categories
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="AwardCategories" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--FactTypes-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Fact Types
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="FactTypes" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--Genres-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Genres
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="Genres" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--GenreLinks-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Genre Links
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="GenreLinks" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--JobRoles-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Job Roles
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="JobRoles" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--MediaFiles-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Media Files
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="MediaFiles" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--ProductionLinks-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Production Links
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="ProductionLinks" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--Ratings-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Ratings
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="Ratings" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!--Series Movies-->
            <div class="row bg-white px-4 py-4 rounded shadow-sm mb-2">
                <div class="col-10">
                    <h5 class="mb-1">
                        Series Movies
                    </h5>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="SeriesMovies" asp-area="Admin" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>