@model MyMDB.Models.MediaFile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MediaFile</h4>
    <hr />
    @if (Model.Data != null)
    {
        <div class="row mt-3">
            <div class="col">
                <img class="img-fluid" src="data:@Model.ContentType;base64, @Convert.ToBase64String(Model.Data)" alt="Document" />
            </div>
        </div>
    }
    @Html.EditorForModel()
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
