@model MyMDB.Models.MediaFile

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MediaFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ContentType" />
            <input type="hidden" asp-for="Data" />

            @if (Model.Data != null)
            {
                <div class="row mt-3">
                    <div class="col">
                        <img class="img-fluid" src="data:@Model.ContentType;base64, @Convert.ToBase64String(Model.Data)" alt="Document" />
                    </div>
                </div>
            }

            @Html.EditorForModel()

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
