@model MyMDB.Models.Character

@{
    ViewData["Title"] = "Details";
    var prodRoles = await JobService.GetProductionRolesByCharacterId(Model.Id);
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    @Html.EditorForModel()
    <ul>
        @foreach (var item in prodRoles)
       {
           <li>
               @(item.MovieId != null ? $"{item?.Movie?.Name} - {item?.CastCrewMember?.Name}" 
               : $"{item?.Episode?.TVShow?.Name} - {item?.CastCrewMember?.Name}" )
           </li>
       }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
